/* #2b5388  */

body{
  background-color: #0B2247;
}

nav{
  background-color: #0B2247;
  padding: 5px 20px;
  height: 75px;
}

.brand-logo{
  margin-right: 10px;
}

.btn, .btn-large {
  background-color: #FF3134;
}

.menucontainer{
  display: flex;
}

.main-box{
  padding: 10px;
}

.homepage{
  text-align: center;
}

.menu-card{
  background-color: #2b5388; 
  text-align: center;
  margin: 10px;
  width: 300px;
  height: 300px;
  height: 100%;
}

.sidebar{
  background-color: #0B2247;
  height: 100%;
}

.card-wrapper{
  /* display: flex;  */
  /* background-color: #2b5388; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.island-card {
   margin: 30px; 
   background-color: #2b5388;
}

.card-content_text{
  margin: 10px;
}

.user-profile img{
  border-radius: 100%;
  height: 75px;
}

.macro-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.macro-box{
  border: 2px solid white;
  border-radius: 5px;
  height: 150px;
  width: 150px;
  background-color: #2b5388
}

.macro-box p{
  margin: 0px;
}

.food-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.food-block{
  margin: 25px;
  background-color: #2b5388
}



/* Old Theme */

/* body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  
}

.nav-links{
  display: flex;
  flex-direction: row;
  width: 30%;
  align-content: space-between;
}

.nav-links li{
  background-color: transparent;
  text-shadow: none;
  margin: 10px;
  color: white;
  box-shadow: none;
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);  
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.homepage{
  text-align: center;
  margin-top: 10%;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper ul{
  text-align: center;

}

.add-item {
  border-radius: 2px;
  border-top: 3px solid #103D5D;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;  
  width: 25%;
  margin-right: auto;
}

.display-item {
  width: 65%;
  margin-left: 50px;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;  
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: calc(50% - 50px);
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #103D5D;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 2px;
  min-width: 88px;
  background-color: #FA6900;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
} */
