/* #2b5388  */

body{
  background-color: #0B2247;
}

nav{
  background-color: #0B2247;
  padding: 5px 20px;
  height: 120px;
}

.brand-heading{
  background-color: #FF3134;
  padding: 0px 10px;
  margin: 20px 0px;
  max-width: 450px;
  flex-grow: 1;
}

.nav-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-route-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.nav-route-links>* {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  font-size: 22px;
  margin: 0 20px 0 20px;
  text-align: center;
  flex-grow: 1;
}

.nav-items{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0px 10px;
  flex-grow: 1;
}

.nav-items a{
  margin: 0px 10px;
}

.login{
  margin-top: 7%;
}

.logout{
  margin-top: 2.5%;
  flex-grow: 1;
  border-radius: 3px;
  cursor: pointer;
}

.brand-logo{
  margin-right: 10px;
}

.btn, .btn-large {
  background-color: #FF3134;
}

.menucontainer{
  display: flex;
}

.main-box{
  padding: 10px;
}

.homepage{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10%;
}

.login-img{
  height: 25px;
  width: 25px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.login-container{
  /* height: 100%;
  width: 100%; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.login-box{
  margin: 0 auto;
  background-color: #2b5388;
  height: 300px;
  width: 400px;
}

.login-box h3{
  color: #FF3134;
}

.login-box p{
  color: white;
  margin: 20px;
  text-align: center;
}

.login-banner{
  background-size: contain;
  border: 1px solid black;
}

.menubox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
  border-bottom: 7px solid black;
}

.menu-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #2b5388; 
  text-align: center;
  margin: 10px;
  width: 300px;
  height: 300px;
  height: 100%;
  flex-grow: 1;
}

.sidebar{
  background-color: #0B2247;
  height: 100%;
}

.card-wrapper{
  /* display: flex;  */
  /* background-color: #2b5388; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.island-card {
   margin: 30px; 
   background-color: #2b5388;
}

.card-content_text{
  margin: 10px;
}

.user-profile img{
  border-radius: 100%;
  height: 75px;
}

/* CreateMeals */

.meal-name{
  color: white;
  margin: 15px 70px;
  padding-top: 1%;
  text-align: center;
}
.meal-name h1 {
  font-size: 5rem;
  border-top: 2px solid #FF3134; 
  border-bottom: 2px solid #FF3134;
  padding: 10px;   
}

.macro-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
  align-items: center;
  flex-basis: 1;
}

.macro-wrapper >*{
  flex-flow: 1;
  align-self: center;
}

.macro-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 5px;
  height: 150px;
  width: 150px;
  background-color: #2b5388;
}
.macro-box h1{
  color: #FF3134;
}

.macro-box p, .macro-box h1{
  /* max-width: 50%; */
  margin: 5px;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
}

.food-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.food-block{
  margin: 25px;
  background-color: #2b5388;
  flex-grow: 1;
}

.food-block h1, h4,h5{
  text-align: center;
  color: white;
}

.food-block button {
  height: 30px;
  width: 30px;
  color: white;
  background-color: #FF3134;
  border: none;
  border-radius: 5px;
  margin-top: 12px;
}

.food-item p:first-of-type{
  font-weight: bold;
}

.food-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  border-top:3px solid black;
}

/* Create Meals w/o framework grid*/
.create-meals-wrapper{
  display: flex;
  flex-flow: row wrap;  
}

.create-meals-wrapper >*{
  flex-grow: 1;
}

th {
  color: #FF3134;
}

thead{
  border: none;
}

/* Goal w/ CSS Grid  */

.goals-grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 20px;
}

.goals-main{
  color: white;
  text-align: center;
  height: 100%;
}

.goals-main h1{
  margin: 0;
}

.goals-main-target{
  padding-top: 10%;
}

.goals-box{
  height: 100%;
}

.goals-box-numbers{
  padding: 4% 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.goals-box-numbers>* {
  text-align: center;
} 

.goalDiv{
  font-size: 2.5em;
  color: #FF3134;
  text-align: center;
  padding: 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labelDiv{
  text-align: center;
  padding: 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goalDiv p, .labelDiv p{
  margin: 0 5px;
}

.goals-box-macro{
  color: #FF3134;
  font-size: 2.5em;
  margin: 0;
}

.goals-box-label{
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.goals-box button{
  margin: 30px;
}

.target-form{
  width: 50%;
  margin: 0 auto;
}

.target-form a{
  margin: 40px 10px 40px 10px;
}

.target-form input{
  font-size: 20px;
  margin: 7% 0;
}

.goals-graph{
  /* border: 2px solid white; */
  border-radius: 5px;
  padding: 10px;
}

.goals-graph-component{
  height: 300px;
  width: 100%;
}

.goals-foods, .goals-added-foods{
  font-size: 7px;
  background-color: #2b5388;
  margin: 7px;
  padding: 10px;
  height: 300px;
  overflow: auto;
}

.goals-foods, .goals-added-foods h5 p{
  font-size: 7px;
}

.goals-foods-item{
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.goals-foods-item button{
  border-radius: 150px;
  margin-top: 9px;
}


