/* #2b5388  */

body{
  background-color: #0B2247;
}

nav{
  background-color: #0B2247;
  padding: 5px 20px;
  height: 75px;
}

.brand-logo{
  margin-right: 10px;
}

.btn, .btn-large {
  background-color: #FF3134;
}

.menucontainer{
  display: flex;
}

.main-box{
  padding: 10px;
}

.homepage{
  text-align: center;
}

.menu-card{
  background-color: #2b5388; 
  text-align: center;
  margin: 10px;
  width: 300px;
  height: 300px;
  height: 100%;
}

.menubox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sidebar{
  background-color: #0B2247;
  height: 100%;
}

.card-wrapper{
  /* display: flex;  */
  /* background-color: #2b5388; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.island-card {
   margin: 30px; 
   background-color: #2b5388;
}

.card-content_text{
  margin: 10px;
}

.user-profile img{
  border-radius: 100%;
  height: 75px;
}

/* CreateMeals */

.meal-name{
  font-size: 3rem;
  color: white;
  margin: 15px 70px;
  padding-left: 1%;
}

.macro-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
}

.macro-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 5px;
  height: 150px;
  width: 150px;
  background-color: #2b5388;
}
.macro-box h1{
  color: #FF3134;
}

.macro-box p, .macro-box h1{
  /* max-width: 50%; */
  margin: 5px;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
}

.food-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.food-block{
  margin: 25px;
  background-color: #2b5388
}

.food-block h1{
  text-align: center;
  color: white;
}

.food-block button {
  height: 30px;
  width: 30px;
  color: white;
  background-color: #FF3134;
  border: none;
  border-radius: 5px;
  margin-top: 12px;
}

.food-item p:first-of-type{
  font-weight: bold;
}

.food-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  border-top:3px solid black;
}

/* Goal w/ CSS Grid  */

.goals-grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 20px;
}

.goals-main{
  color: white;
  text-align: center;
}

.goals-main-target{
  padding-top: 10%;
}


.target-form{
  width: 50%;
  margin: 0 auto;
}

.goals-graph{
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
}

.goals-graph-component{
  height: 300px;
  width: 100%;
}

.goals-foods, .goals-added-foods{
  max-height: 85%;
  overflow: scroll;
  font-size: 7px;
}

.goals-foods, .goals-added-foods h5 p{
  font-size: 7px;
}



